

@mixin EmbedBebasNeue( $path, $weight: normal, $style: normal ){
	@font-face {
		$f: "#{$path}.";
		$name: BebasNeue;
		font-family: 'BebasNeue';
		src: url("#{$f}eot");
		src: url("#{$f}eot?#iefix") format('embedded-opentype'),
			 url("#{$f}woff") format('woff'),
			 url("#{$f}ttf") format('truetype'),
			 url("#{$f}svg#{$name}") format('svg');
		font-weight: $weight;
		font-style: $style;
	}
}

@include EmbedBebasNeue( "../fonts/BebasNeue/BebasNeue Thin", 100, normal );
@include EmbedBebasNeue( "../fonts/BebasNeue/BebasNeue Book", 200, normal );
@include EmbedBebasNeue( "../fonts/BebasNeue/BebasNeue Light", 300, normal );
@include EmbedBebasNeue( "../fonts/BebasNeue/BebasNeue Regular", 400, normal );
@include EmbedBebasNeue( "../fonts/BebasNeue/BebasNeue Bold", 700, normal );


@mixin BebasNeue( $weight: normal, $style: normal ) {
	font-family: "BebasNeue";
	font-weight: $weight;
	font-style: $style;
}


